*~
*.gch
*.DS_Store
*.config
*.creator
*.files
*.includes
.*
!.gitignore
*.o
*.so
*.wasm
main.worker.js
/OpenGL/TextureDataObjects/main.js
__pycache__
/**/program.dSYM/
program
simple_cube
simple_cylinder
simple_triangle
wave
world
